# --- Python cache ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll

# --- Virtual env ---
.venv/
env/
venv/
source/

# --- Logs ---
*.log
logs/

# --- Datasets / Outputs ---
output/
test_output/

# --- Jupyter / VSCode ---
.ipynb_checkpoints/
.vscode/
*.code-workspace

# --- System ---
.DS_Store
Thumbs.db

# --- Large temp files ---
*.zip
*.tar
*.gz
*.7z
*.parquet
